@import './utils/variables';
@import './components/base';
@import './components/menu-burger';
@import './components/logo';
@import './components/nav';
@import './components/connect';
@import './components/hero';
@import './components/modal';
@import './components/advantage';
@import './components/deal';
@import './components/team';
@import './components/icon';
@import './components/client';
@import './components/footer';
@import './components/footer-form.scss';
@import './components/portfolio-page';

