body{
    font-family: Roboto, sans-serif;
    color: $primery-text-color;
    margin: 0px;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

}


.list {
    list-style: none;
    padding: 0px;
    margin: 0px;

}

.section {
    padding-top: 94px;
    padding-bottom: 94px;


}