.title-clients {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    color: $title-text-color;
}

.list-clients__link {
    padding-top: 13%;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: inline-block;

    text-align: center;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus {
                border-color: $accent-color;
                outline: none;
            }
        .list-clients__item:hover &{
                border-color: $accent-color;
                
                border-radius: 4px;
        }    
}

.list-clients__icon {
    vertical-align: middle;
    fill: #afb1b8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

        .list-clients__item:hover &,
        .list-clients__link:focus & {
            fill: $accent-color;
        }
}

.list-clients {
    display: flex;
    flex-wrap: wrap;

}

.list-clients__item {
    margin-right: 30px;

    &:last-child {
            margin-right: 0px;
        }
}