.site-connect {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    display: flex;
    margin-left: auto;

    @media screen and (max-width:480px) {
            display: none;
        }

}

.site-connect__item {
    margin-right: 50px;
    position: relative;

    &:last-child {
            margin-right: 0px;
        }
}

.site-connect__link {
    color: $primery-text-color;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            color: $accent-color;
            fill: $accent-color;
            color: $accent-color;
        }
}

.site-connect__icon {
    vertical-align: middle;
    margin-right: 10px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

