.deal {
    background-color: $white-bg-color;
    padding-top: 0px;

        @media (max-width:1199px) {
                display: none;
            }

}

.list-deal {
    display: flex;
    flex-wrap: wrap;
}

.list-deal__item {
    margin-right: 30px;
    position: relative;

    &:last-child {
            margin-right: 0px;
        }
}

.deal-title {
    margin-bottom: 50px;
    margin-top: 0px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color;
}

.list-deal__box {
    position: absolute;
    bottom: 0px;
    width: 370px;
    height: 70px;
    padding-top: 27px;

    background-color: rgba(47, 48, 58, 0.8);
}

.list-deal__text {
    margin: 0px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-transform: uppercase;
}

