.logo {
    color: $accent-color;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo__header {
    color: $logo-second-color;

}

.logo__footer {
    color: #FFFFFF;
}