.main{
    background-color: $white-bg-color;
    border-bottom: 1px solid #ECECEC;

    &-nav{
        display: flex;
        align-items: center;
    }
}

.site-nav{
    display: flex;
    margin-left: 93px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    &__item{
        margin-right: 50px;
        position: relative;
    }
    
    &__item:last-child {
        margin-right: 0px;
    }

}

.site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $title-text-color;
    text-decoration: none;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        color: $accent-color;
    }


}

 .site-nav__link--current {
     color: $accent-color;

     &::after {
            content: "";
            position: absolute;
            background-color: $accent-color;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            bottom: -1px;
            left: 0;
    
        }
 }